.board-component{
    background-color: #F4F5F8;
    height: 96vh;
    width: 100%;
    padding: 15px;
    display: flex;
    flex-direction: row;
    gap:50px
}

.board-column{
    min-width: 19%;
    max-width: 19%;
}

.board-column-title{
    position: relative;
    display: flex;
    flex-direction: row;
    gap: 5px;
    align-items: center;
    margin-bottom: 10px;
    font-size: 13px;
}

.addoptions{
    align-items: center;
    position: absolute;  /* Position the child absolutely */
    right: 6px;        /* Distance from the right edge */
    bottom: 12px;
}
.card-list{
     display: flex;
     flex-direction: column;
     gap: 9px;
}